#menu {
    background: #0099CC;
    color: #FFF;
    height: 50px;
    padding-left: 18px;
    border-radius: 0px;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu a {
    display: block;
    line-height: 50px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    color: #0099CC;
    background: #F2F2F2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #092444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }
    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }
    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }
    #menu ul.sub-menus a {
        padding-left: 30px;
    }
    #menu li {
        display: block;
        float: none;
        width: auto;
    }
    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }
    #menu input {
        z-index: 4
    }
    #menu input:checked+label {
        color: white
    }
    #menu input:checked+label:before {
        content: "\00d7"
    }
    #menu input:checked~ul {
        display: block
    }
}

#encabezado {
    width: 900px;
    height: 100px;
    background: #93B9F7;
    margin: auto;
}

#menu {
    width: 900px;
    height: 70px;
    background: #1d0903;
    margin: auto;
}

#cuerpo {
    width: 900px;
    height: 700px;
    background: rgb(188, 237, 243);
    margin: auto;
}

#pie {
    width: 900px;
    height: 90px;
    background: #A2FF33;
    margin: auto;
}

#cuadroderecho {
    width: 410px;
    height: 650px;
    background: #B533FF;
    float: right;
    margin: 20px;
}

#cuadroizquierdo {
    width: 410px;
    height: 650px;
    background: #53107A;
    float: left;
    margin: 20px;
}

#cuadroizquierdosuperior {
    width: 400px;
    height: 325px;
    background: #93B9F7;
    float: top;
    margin: 5px;
}

#cuadroizquierdoinferior {
    width: 400px;
    height: 325px;
    background: #F9D17B;
    float: top;
    margin: auto;
}

#cuadroderechosuperior {
    width: 390px;
    height: 204px;
    background: #68CC44;
    margin: 10px;
}

#cuadroderechocentro {
    width: 390px;
    height: 204px;
    background: #68CC44;
    margin: 10px;
}

#cuadroderechoinferior {
    width: 390px;
    height: 204px;
    background: #68CC44;
    margin: 10px;
}

#Formulario {
    width: 800px;
    height: 650px;
    background: hsl(202, 63%, 39%);
    margin: auto;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #cc1dcc;
    font-family: Georgia;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    border: solid #13222b 2px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn2 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #cc1dcc;
    font-family: Georgia;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    border: solid #13222b 2px;
    text-decoration: none;
}

.btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}